<section>
    <div id="features" class="featuresbig ">
        <div></div>
        <div class="heropic">
            <img src="../images/smalllambo-removebg (1).png" alt="lambo" class="img-fluid">
            <img src="../images/smalllambo-removebg (1)-fotor-20240801171444.png" class="front tyre">
            <img src="../images/smalllambo-removebg (2)-fotor-20240801171638.png" class="rear tyre">
        </div>
        <div class="engine">
            <p class="featurestext">Feel The <span class="featurespan">V12</span> Engine</p>
        </div>
        <div class="body">
            <p class="featurestext">The <span class="featurespan">Design</span> That Amazes everyone</p>
        </div>
        <div class="wings">
            <p class="featurestext"><span class="featurespan">Wings</span> that make you <span
                    class="featurespan">FLY</span></p>
        </div>
        <div class="below">
            <p class="featurestext"><span class="featurespan">Anti-lock Braking System (ABS)</span>
                Feel Free to Race ON</p>
        </div>

    </div>
</section>