<section id="heropage" class="homepage">
    <div class="bigcontainer">
        <img src="../images/pixelcut-export.jpeg" class="background img-fluid">
        <div class="navbar d-flex justify-content-between">
            <div class="leftnav">
                <div class="icon">
                    <img src="../images/Screenshot_2024-07-24_184448-removebg-preview.png"
                        style="width: 201px; height:31px;">
                </div>
            </div>
            <div class="navbaritems">
                <nav class="rightnav">
                    <ul class="d-flex gap-4">
                        <li><a href="#features" class="tags">Features</a></li>
                        <li><a href="#gallery" class="tags">Gallery</a></li>
                        <li><a href="#contact" class="tags">Contact Us</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="intro">
            <p class="bigintro">
                LAMBORGINI
            </p>
            <p class="midintro">
                AVENTADOR
            </p>
            <p class="lastintro">
                LP 780-4
            </p>
        </div>
        <div class="merque d-flex">
            <div class="merquecontent d-flex">
                <p class="word" style="color: #ffde59;">
                    NIGGA1
                </p>
                <p class="word" style="color:  #f0f1f1;">
                    ELEGANCE
                </p>
                <p class="word" style="color: #ffde59;">
                    ROYALTY
                </p>
                <p class="word" style="color:  #f0f1f1;">
                    LUXURIOUS
                </p>
                <p class="word" style="color: #ffde59;">
                    NIGGA2
                </p>
            </div>
            <div class="merquecontent d-flex">
                <p class="word" style="color:  #f0f1f1;">
                    NIGGA1
                </p>
                <p class="word" style="color: #ffde59;">
                    ELEGANCE
                </p>
                <p class="word" style="color:  #f0f1f1;">
                    ROYALTY
                </p>
                <p class="word" style="color: #ffde59;">
                    LUXURIOUS
                </p>
                <p class="word" style="color:  #f0f1f1;">
                    NIGGA2
                </p>
            </div>
            <div class="merquecontent d-flex">
                <p class="word" style="color: #ffde59;">
                    NIGGA1
                </p>
                <p class="word" style="color:  #f0f1f1;">
                    ELEGANCE
                </p>
                <p class="word" style="color: #ffde59;">
                    ROYALTY
                </p>
                <p class="word" style="color:  #f0f1f1;">
                    LUXURIOUS
                </p>
                <p class="word" style="color: #ffde59;">
                    NIGGA2
                </p>
            </div>
        </div>
    </div>

</section>