<section>
    <div class="subhero d-flex flex-column justify-column-center align-items-center">
        <div class="subherotext  d-flex flex-column justify-column-center align-items-center">
            <p class="subtext">Experience the pinnacle of automotive excellence with the Lamborghini <span>Aventador</span>.</p>
        </div>
        <div class="floatingtiles">
            <div class="purple">
              <div class="box one pp"><p>Resale</p></div>
              <div class="box five pp"><p> Potential Buyers</p></div>
              <div class="box ten pp"><p>Accessories</p></div>
            </div>
        
            <div class="white">
                 <div class="box three ww"><p>Dealers</p></div> 
                 <div class="box six ww"><p>Tuning</p></div>
                 <div class="box eight ww"><p>Gallery</p></div>
            </div>

            <div class="yellow">
                <div class="box four yy"><p>Safety</p></div>
                 <div class="box seven yy"><p>Features</p></div>
                 <div class="box eleven yy"><p>Models</p></div>
            </div>
            
            <div class="blue">
               <div class="box two bb"><p>Showroom</p></div> 
                <div class="box nine bb"><p>Customisation</p></div>
                <div class="box twelve bb"><p>Specs</p></div>
            </div>  
        </div>
    </div>
</section>