.subhero{
    background-color: #010101;
    height: 120vh;
    position: relative;
}
.subherotext{
    position: absolute;
    top: 30%;
}
.subtext{
    font-size: 55px;
    text-align: center;
    width: 50%;
    color: #f0f1f1;
}
span{
    color:#ffde59
}
.floatingtiles{
    position: relative;
    width: 1418px;
    height: 299px;
    top: 50%;
    margin-top: 70px;
}
.box{
    position: absolute;
    border: 3px solid #6b6b6b;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    transform-origin:left;
    p{
        font-size: 34px;
        color: #6b6b6b;
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        margin: 0;
        padding: 0;
    }
}
.one{
    left: 21.1312px;
    top: 54.1487px;
    width: 169.462px;
    transform: rotate(6.32848deg) ;
}

.two{
    left: 87.0282px;
    top: 207.901px;
    width: 211.675px;
    transform: rotate(-20.2757deg) ;
}
.three{
    left: 230.069px;
    top: 37.9066px;
    width: 179px;
    transform: rotate(16.9587deg) ;
}
.four{
    left: 454.042px;
    top: 155.983px;
    width: 173.119px;
    transform: rotate(156.955deg) ;
}
.five{
    left: 432.639px;
    top: 5.24995px;
    width: 315.651px;
    transform: rotate(47.488deg) ;
}
.six{
    left: 725.823px;
    top: 59.534px;
    width: 159.496px;
    transform: rotate(-173.029deg);
}
.seven{
    left: 668.824px;
    top: 159.557px;
    width: 211.675px;
    transform: rotate(-22.3292deg);
}
.eight{
    left: 754.611px;
    top: 205.067px;
    width: 211.675px;
    transform: rotate(-1.38719deg);
}
.nine{
    left: 894.045px;
    top: 73.0274px;
    width: 289.305px;
    transform: rotate(30.0674deg);
}
.ten{
    left: 1001.27px;
    top: 45.7171px;
    width: 250.389px;
    transform: rotate( 9.77073deg);
}
.eleven{
        left: 1191.26px;
        top: 204.096px;
        width: 181.462px;
        transform: rotate( -20.7574deg);
}
.twelve{
    left: 1268.07px;
    top: 72.3076px;
    width: 149.496px;
    transform: rotate(-17.2859deg); 
}

.purple:hover .pp{
    border: 3px solid #CAB2FF;
    p{
       color: #CAB2FF;  
    }
   
}
.white:hover .ww{
    border: 3px solid white;
    p{color: white;}
    
}
.yellow:hover .yy{
    border: 3px solid #ffde59;
    p{ color:#ffde59;}
   
}
.blue:hover .bb{
    border: 3px solid #4379f7;
    p{
        color: #4379f7;
    }
    
}